/* shared styles */
body {
    color: #272727;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-weight: 800;
}

.primary-btn {
    border-radius: 4px;
    background: #E55473;
    gap: 10px;
    color: #FFFFFF;
    border: 0;
    height: 23px;
    width: 60px;
    font-size: 9px;
    cursor: pointer;
}

span{
    color: #E55473;
}

/* banner styles */

.banner-description {
    width: 310px;
    font-size: 10px;
    color: #27272799;
}

header {
    background-color: #E554731A;
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding-right: 100px;
}

.banner-title {
    width: 280px;
    padding-top: 100px;
    padding-bottom: 0px;
    font-size: 35px;
    color: #000000;
}

.banner {
    padding-left: 120px;
}

/* Promo styles */
.promo {
    display: flex;
    background-color: #E554730D;
    height: 310px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    margin-top: 30px;
}

.promo-title{
    color: #272727;
    font-size: 20px;
}
.promo-description{
    color: #27272799;
    font-size: 9px;
}
.promo-des{
    text-align: center;
    padding-top: 120px;
}

/* social styles */
.social{
    height: 400px;
    margin-bottom: 0px;
}
.social-description{
    text-align: center;
}
.social-title{
    color: #272727;
    font-size: 20px;
}
.social-para{
    color: #27272799;
    font-size: 9px;
}
.social-pics{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.images{
    width: 160px;
    height: 180px;
}

/* Deal styles */
.deals{
    margin-top: 0px;
    background-image: url('../Image/Rectangle-9.png');
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 680px;
    margin-bottom: 30px;
}
.deal-description{
    padding-top: 45px;
}
.deal-title{
    color: #272727;
    font-size: 16px;
}
.deal-para{
    color: #27272799;
    font-size: 9px;
}
.deal-form{
    padding-bottom: 45px;
}

/* footer styles */
footer{
    background-color: #111010;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 16px;
}
.footer-para{
    color: #FFFFFFE5;
    font-size: 9px;
}
.copyright{
 color: #FFFFFF66;
 font-size: 6px;   
}